.education-page {
  display: flex;
}

.resume-side {
  width: 50vw;
}

.form-side {
  width: 50vw;
  height: 100vh;
  background-color: #e9e5e5;
  padding: 30px;
  box-sizing: border-box;
}

.inputField {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  gap: 90px;
}

.form {
  margin-left: 10%;
}

.style {
  display: flex;
  justify-content: space-between;
}

.options {
  margin-top: 43px;
  width: 50%;
}

.btn-finish {
  height: 30px;
  width: 100px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 1.5rem;
}

.btn-back {
  height: 30px;
  width: 100px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 1.5rem;
}

.buttons {
  margin-top: 104px;
}

.red-border {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 10px;
  position: absolute;
}

.pos-error {
  color: red;
  font-size: 10px;
  position: absolute;
  margin-top: 60px;
}

.select-option-error {
  color: red;
  font-size: 10px;
  position: absolute;
  margin-top: 45px;
}

.dropdown-red-border {
  border: 1px solid red !important;
  border-radius: 5px;
}

.edu-finish-error {
  color: red;
  font-size: 10px;
  position: absolute;
  margin-top: -4px;
}
