.resume-side {
  width: 50vw;
}

.form-side {
  width: 50vw;
  height: 100vh;
  background-color: #e9e5e5;
  padding: 30px;
  box-sizing: border-box;
}

.inputField {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  gap: 90px;
}

.form {
  margin-left: 10%;
}

.style {
  display: flex;
  justify-content: space-between;
}

.options {
  margin-top: 43px;
  width: 50%;
}

.btn-finish {
  height: 30px;
  width: 100px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 1.5rem;
}

.btn-back {
  height: 30px;
  width: 100px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 1.5rem;
}
