.InputField {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  font-size: 11px;
  font-weight: bold;
}

input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 10px;
}

input:focus {
  outline: none;
}

span {
  font-size: 9px;
}
