.resume {
  padding: 4rem;
}

.img {
  width: 150px;
  float: right;
  border-radius: 100px;
}

.about-me {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 34px;
  color: #f93b1d;
}

.mobile-number {
  margin-bottom: 50px;
}

p {
  margin-top: 5px;
}

.dates {
  display: flex;
  font-family: "Helvetica Neue";
  font-style: italic;
  color: #919191;
}

.starting-date {
  margin-right: 10px;
}

.edu-finish-date {
  display: flex;
  font-family: "Helvetica Neue";
  font-style: italic;
  color: #919191;
}
