.experience-page {
  display: flex;
  overflow-y: scroll;
}

.form-side {
  width: 50vw;
  height: 100vh;
  background-color: #e9e5e5;
  padding: 30px;
  box-sizing: border-box;
}

.inputField {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  gap: 90px;
}

.form {
  margin-left: 10%;
}

.employer {
  margin-top: 25px;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.line {
  border: 1px solid #c1c1c1;
  margin-top: 30px;
}

.btn-next {
  height: 30px;
  width: 100px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 1.5rem;
}

.btn-back {
  height: 30px;
  width: 100px;
  background: #6b40e3;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 1.5rem;
}

.resume-side {
  width: 50vw;
}

.buttons {
  margin-top: 10px;
}

.red-border {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 10px;
  position: absolute;
}

.pos-error {
  color: red;
  font-size: 10px;
  position: absolute;
  margin-top: 60px;
}
